@page "/basket/"

<AuthorizeView>
    <Authorized>
        @if (basket != null)
        {
            @if (basket.basketItems == null)
            {
                <h1>No items found in basket.</h1>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Order Number</th>
                            <th>Date Placed</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var orderLineItem in basket.basketItems)
                        {
                        <tr>
                            <th>@orderLineItem.Id</th>
                            <th>@orderLineItem.Post.UserId[0..3]</th>
                            <th><img src=@orderLineItem.Post.Thumbnail width="100" height="100" /></th>
                            <th>@orderLineItem.Type</th>
                            <th>@orderLineItem.Quantity</th>
                        </tr>
                        }
                    </tbody>
                    Price: @getPrice()
                </table>
            }
        }
        else
        {
            <h1>No items in basket.</h1>
        }

    </Authorized>
    <NotAuthorized>

        <h1>Login or register to add items to basket.</h1>
    </NotAuthorized>
</AuthorizeView>



