@page "/profile/{DisplayName}"

<h1 class="page-title">All employees</h1>

@if (User != null)
{

    <header>
        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    <img src=@User.ProfilePic alt="">

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">@DisplayName</h1>

                    @if (claimDisplayName.Equals(DisplayName))
                    {
                        <button class="btn profile-edit-btn">Edit Profile</button>
                    }
                </div>

                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">164</span> posts</li>
                        <li><span class="profile-stat-count">188</span> followers</li>
                        <li><span class="profile-stat-count">206</span> following</li>
                    </ul>

                </div>

                <div class="profile-bio">
                    @if (User.FirstName != String.Empty)
                    {
                        <p><span class="profile-real-name">@User.FirstName </span></p>
                    }

                    @if (User.FirstName != String.Empty && User.SecondName != String.Empty)
                    {
                        <p><span class="profile-real-name">@User.FirstName @User.SecondName</span> Just an average guy. </p>
                    }
                </div>

                @if (!claimDisplayName.Equals(DisplayName))
                {
                    <button class="btn btn-primary" onclick="@FollowUser();">Follow</button>
                }

            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->
    </header>
    if (Posts == null)
    {
        <div class="loader"></div>
    }
    else
    {
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />


        <div class="container-fluid bg-dark">
            <div class="row">
                @foreach (var Post in Posts)
                {
                    <a href="@Post.Thumbnail" class="col-md-4 p-1 h-150"></a>


                }
            </div>

        </div>
    }



}
else
{

    <p>No user found.</p>

}
