@page "/post/{PostID}"

@if (post == null)
{

    <p><em>Post not found. Either moved, deleted.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Submission Time</th>
                <th>Image</th>
                <th>Caption</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@post.UploadDate.ToString("dd/MM/yyyy h:mm tt")</th>
                <td><img src=@post.Thumbnail  /></td>
                <td>@post.Caption</td>
            </tr>
        </tbody>
    </table>
    <MatButton OnClick="() => GetUsernames()">test</MatButton>
    @if (Comments.Count != 0 || !Comments.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Comments.Count Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>

                        @for (int i = 0; i < Comments.Count; i++)
                        {


                        <td> @Comments[i].UserId @Comments[i].Body</td>

                        @if (Comments[i].UserId.Equals(User.Id) | post.UserId.Equals(User.Id))
                        {

                            <MatButton OnClick="() => DeleteComment(Comments[i].Id)">Delete</MatButton>
                        }
                    }

                        </th>
                    </tr>
                </tbody>
            </table>

        }

    <button onclick="@GiveLike()"
            class="btn @( liked == true ? "btn-primary" : "btn-secondary" )">
        <i class="fas fa-thumbs-up fa-lg"></i>
    </button>


    <EditForm Model="@extendcomment" OnValidSubmit="@MakeComment">
        <ValidationSummary />
        <fieldset>
            <div class="form-group">
                <MatTextField @bind-Value="@extendcomment.Body" Label="Comment Body" FullWidth="true"></MatTextField>
            </div>
        </fieldset>
    </EditForm>
    <MatButton OnClick="@MakeComment">Make Comment</MatButton>




}

