@page "/postedit"
@page "/postedit/{PostId}"
@using _4thYearProject.Shared.Models
@using System.IO

@inherits PostEditBase

<section class="post-edit">
    @if (!Saved)
    {
        <div class="alert @StatusClass">@Message</div>

        <EditForm Model="@Post" OnValidSubmit="@HandleValidSubmit">


            <DataAnnotationsValidator />


            <p>
                <InputFile OnChange="OnInputFileChange" multiple />
            </p>


            <ValidationSummary />

            <div class="form-group row">
                <label for="Caption" class="col-sm-3">Caption: </label>
                <InputText id="Caption" class="form-control col-sm-8" @bind-Value="@Post.Caption" placeholder="Enter caption"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Post.Caption)" />
            </div>


            <button type="submit" class="btn btn-primary edit-btn">Save Post</button>

            @if (Post.PostId > 0)
            {
                <a class="btn btn-danger" @onclick="@DeletePost">
                    Delete
                </a>
            }

        </EditForm>
    }
    else
    {
        <div class="alert @StatusClass">@Message</div>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>

    }
</section>