@page "/post/{PostID}"

@if (post == null)
{

    <p><em>Post not found. Either moved, deleted.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Submission Time</th>
                <th>Image</th>
                <th>Caption</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@post.UploadDate.ToString("dd/MM/yyyy h:mm tt")</th>
                <td><img src=@(post.PhotoFile == null ? "" : $"data:{post.MimeType};base64,{Convert.ToBase64String(post.Thumbnail)}") /></td>
                <td>@post.Caption</td>
            </tr>
        </tbody>
    </table>







    <table class="table">
        <thead>
            <tr>
                <th>@Comments.Count Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @foreach (var Comment in Comments)
                    {

                        @if (User != null)
                        {
                            @if (Comment.UserId.Equals(User.Id) | post.UserId.Equals(User.Id))
                            {
                            <td> @Comment.UserId @Comment.Body </td>
                            <MatButton OnClick="() => DeleteComment(Comment.Id)">Delete</MatButton>
                        }
                        }
                        else
                        {
                            <td> @Comment.UserId @Comment.Body </td>
                        }
                    }
                    </th>
                </tr>
        </tbody>
    </table>


}



<EditForm Model="@extendcomment" OnValidSubmit="@MakeComment">
    <ValidationSummary />
    <fieldset>
        <div class="form-group">
            <MatTextField @bind-Value="@extendcomment.Body" Label="Comment Body" FullWidth="true"></MatTextField>
        </div>
    </fieldset>
</EditForm>
<MatButton OnClick="@MakeComment">Make Comment</MatButton>




}

