@page "/post/{PostID}"

<br />
<br>
@if (post == null)
{

<h1>Post not found. Either moved or deleted.</h1>
}
else
{

    @post.UploadDate.ToString("dd/MM/yyyy h:mm tt")
               

    @post.Caption


<div class="card">
    <div class="card-heading">
        <div class="card-heading-pic">
            @if (post.ProfileData != null)
            {
                @if (post.ProfileData.ProfilePicURL != null || post.ProfileData.ProfilePicURL == String.Empty)
                {
                    <img src="@post.ProfileData.ProfilePicURL"
                         alt="profile-pic">

                }
                else
                {
                    <img src="images/profilePicture.jpg"
                         alt="profile-pic">
                }
            }
        </div>
        <div class="card-heading-data">
        </div>


        <div class="card-footer">
            


            <div class="card-footer-left">
                            
           
            </div>
      
        </div>
    </div>
    <img src=@post.PhotoFile alt="pic">

</div>








    @if (Comments.Count != 0 || !Comments.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Comments.Count Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        
                        @foreach (var Comment in Comments)
                        {
                            
                            <td> @Comment.UserId @Comment.Body</td>

                            @if (Comment.UserId.Equals(LoggedInID) | post.UserId.Equals(LoggedInID))
                            {

                                <MatButton OnClick="() => DeleteComment(Comment)">Delete</MatButton>
                            }
                        }

                        </th>
                    </tr>
                </tbody>
            </table>

        }


    @if (post.Liked)
    {
      
        <MatButton OnClick="UnLike">
            <i class="fas fa-coffee"></i>
        </MatButton>
    }
    else
    {
     
        <MatButton OnClick="GiveLike"><i class="far fa-thumbs-up"></i></MatButton>
    }

    @if (post.LicenseEnabled)
    {

        <a @onclick="@(e => BuyLicense(post.PostId))" class="btn btn-light">
            <i class="fas fa-stamp"></i>
        </a>
    }
    @if (post.ShirtsEnabled)
    {<a @onclick="@(e => BuyShirt(post.PostId))" class="btn btn-light">
         <i class="fas fa-tshirt"></i>
     </a>
    }
    @if (post.PrintsEnabled)
    {<a @onclick="@(e => BuyPrint(post.PostId))" class="btn btn-light">
         <i class="fas fa-scroll"></i>
     </a>
    }



    <EditForm Model="@extendComment" OnValidSubmit="@MakeComment">
        <ValidationSummary />
        <fieldset>
            <div class="form-group">
                <MatTextField @bind-Value="@extendComment.Body" Label="Comment Body" FullWidth="true"></MatTextField>
            </div>
        </fieldset>
    </EditForm>
    <MatButton OnClick="@MakeComment">Make Comment</MatButton>




}

