@page "/postedit"
@page "/postedit/{PostId}"

@inherits PostEditBase

<section class="post-edit">
    @if (!Saved)
    {
        <div class="alert @StatusClass">@Message</div>

        <EditForm Model="@Post" OnValidSubmit="@HandleValidSubmit">


            <DataAnnotationsValidator/>

            @if (fileUploaded == false)
            {
                <p>
                    <InputFile OnChange="OnInputFileChange" multiple/>
                </p>
            }


            <ValidationSummary/>

            <div class="form-group row">
                <label for="Caption" class="col-sm-3">Caption: </label>
                <InputText id="Caption" class="form-control col-sm-8" @bind-Value="@Post.Caption" placeholder="Enter caption"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Post.Caption)"/>
            </div>


            <RadzenSwitch @bind-Value=@value Style="margin-bottom: 20px" Change=@(args => OnChange(args, "Switch"))/>


            <button type="submit" class="btn btn-primary edit-btn">Save Post</button>

            @if (Post.PostId > 0)
            {
                <a class="btn btn-danger" @onclick="@DeletePost">
                    Delete
                </a>
            }

        </EditForm>
    }
    else
    {
        <div class="alert @StatusClass">@Message</div>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
    }
</section>

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Set Price</h5>
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <EditForm Model="@Price" OnValidSubmit="@HandleValidSubmit">

                        <DataAnnotationsValidator/>
                        <ValidationSummary/>

                        <div class="form-group">
                            <label for="Price">Price for License: </label>
                            <InputNumber id="Price" class="form-control" @bind-Value="@Price" placeholder="Enter how much you'd like to sell the license for"></InputNumber>
                            <ValidationMessage For="@(() => Price)"/>
                        </div>


                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
}