@page "/post/{PostID}"

<br/>
<br>
@if (post == null)
{
    <h1>Post not found. Either moved or deleted.</h1>
}
else
{
    @post.UploadDate.ToString("dd/MM/yyyy h:mm tt")


    <div class="card">
        <div class="card-heading">
            <div class="card-heading-pic">
                @if (post.ProfileData != null)
                {
                    @if (post.ProfileData.ProfilePicURL != null || post.ProfileData.ProfilePicURL == string.Empty)
                    {
                        <img src="@post.ProfileData.ProfilePicURL"
                             alt="profile-pic">
                    }
                    else
                    {
                        <img src="images/profilePicture.jpg"
                             alt="profile-pic">
                    }
                }
            </div>
            @if (post.UserId != null)
            {
                @if (post.ProfileData != null)
                {
                    <div class="card-heading-data">
                        @if (post.ProfileData.Username != null || post.ProfileData.Username == string.Empty)
                        {
                            <span class="user-name">
                                <a href="/profile/@post.ProfileData.Username">@post.ProfileData.Username</a> <br/> @post.ProfileData.FName @post.ProfileData.LName
                            </span>
                        }
                    </div>
                }
            }
        </div>
        <img src=@post.PhotoFile alt="pic">
        <br/><br/>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;@post.Caption</h3>
        <div class="card-footer">
            <div class="card-footer-left">


                @if (post.Liked)
                {
                    <MatButton OnClick="UnLike">
                        <i class="fas fa-thumbs-down"></i>
                    </MatButton>
                }
                else
                {
                    <MatButton OnClick="GiveLike">
                        <i class="far fa-thumbs-up"></i>
                    </MatButton>
                }

                @if (post.UserId == LoggedInID)
                {
                    <MatButton OnClick="() => DeletePost(post)">
                        <i class="fas fa-trash-alt"></i>
                    </MatButton>
                }

                
            @if (post.UserId != LoggedInID)
            {
                @if (post.LicenseEnabled)
                {
                    <MatButton @onclick="@(e => BuyLicense(post.PostId))" class="btn btn-light">
                        <i class="fas fa-stamp"></i> &nbsp; Buy License
                    </MatButton>
                }
            }
                @if (post.ShirtsEnabled)
                {
                    
                <MatButton @onclick="@(e => BuyShirt(post.PostId))" class="btn btn-light">
                    <i class="fas fa-tshirt"></i> &nbsp; Buy Shirt
                </MatButton>
                }
                @if (post.PrintsEnabled)
                {
                    
                <MatButton @onclick="@(e => BuyPrint(post.PostId))" class="btn btn-light">
                    <i class="fas fa-scroll"></i> &nbsp; Buy Print
                </MatButton>
                }

                @if (post.Likes > 0)
                {
                    <p>@post.Likes likes</p>
                }



            </div>
        </div>


    </div>


    @if (Comments.Count != 0 || !Comments.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th>@Comments.Count Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>

                    @foreach (var Comment in Comments)
                    {
                        <td>
                            <a href="/profile/@Comment.ProfileData.Username">@Comment.ProfileData.Username</a> @Comment.Body
                        </td>
                        <br/>

                        @if (Comment.UserId.Equals(LoggedInID) | post.UserId.Equals(LoggedInID))
                        {
                            <MatButton OnClick="() => DeleteComment(Comment)">Delete</MatButton>
                        }
                    }

                </th>
            </tr>
            </tbody>
        </table>
    }


    <EditForm Model="@extendComment" OnValidSubmit="@MakeComment">
        <ValidationSummary/>
        <fieldset>
            <div class="form-group">
                <MatTextField @bind-Value="@extendComment.Body" Label="Comment Body" FullWidth="true"></MatTextField>
            </div>
        </fieldset>
    </EditForm>
    <MatButton OnClick="@MakeComment">Make Comment</MatButton>
}