@page "/tags/{HashTag}"

@if (User != null)
{
    if (Posts == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <br/>
        <br/>
        <br/>
        @foreach (var Post in Posts)
        {
            <div class="card">
                <div class="card-heading">
                    <div class="card-heading-pic">
                        @if (Post.ProfileData != null)
                        {
                            @if (Post.ProfileData.ProfilePicURL != null || Post.ProfileData.ProfilePicURL == string.Empty)
                            {
                                <img src="@Post.ProfileData.ProfilePicURL"
                                     alt="profile-pic">
                            }
                            else
                            {
                                <img src="images/profilePicture.jpg"
                                     alt="profile-pic">
                            }
                        }
                    </div>
                    @if (Post.UserId != null)
                    {
                        @if (Post.ProfileData != null)
                        {
                            <div class="card-heading-data">
                                @if (Post.ProfileData.Username != null || Post.ProfileData.Username == string.Empty)
                                {
                                    <span class="user-name">
                                        <a href="/profile/@Post.ProfileData.Username">@Post.ProfileData.Username</a> <br/>
                                        <p> @Post.ProfileData.FName @Post.ProfileData.LName </p>
                                    </span>
                                }
                            </div>
                        }
                    }
                </div>


                <img src=@Post.PhotoFile alt="pic">
                <br/><br/>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;@Post.Caption</h3>
                <div class="card-footer">

                    <div class="card-footer-left">

                        @if (Post.Liked)
                        {
                            <MatButton OnClick="() => UnLike(Post)">
                                <i class="fas fa-thumbs-down"></i>
                            </MatButton>
                        }
                        else
                        {
                            <MatButton OnClick="() => GiveLike(Post)">
                                <i class="far fa-thumbs-up"></i>
                            </MatButton>
                        }


                        @if (Post.UserId == LoggedIn)
                        {
                            <MatButton OnClick="() => DeletePost(Post)">
                                <i class="fas fa-trash-alt"></i>
                            </MatButton>
                        }



                        @if (Post.LicenseEnabled)
                        {
                            <MatButton @onclick="@(e => BuyLicense(Post.PostId))" class="btn btn-light">
                                <i class="fas fa-stamp"></i> &nbsp; Buy License
                            </MatButton>
                        }
                        @if (Post.ShirtsEnabled)
                        {
                            <MatButton @onclick="@(e => BuyShirt(Post.PostId))" class="btn btn-light">
                                <i class="fas fa-tshirt"></i> &nbsp; Buy Shirt
                            </MatButton>
                        }
                        @if (Post.PrintsEnabled)
                        {
                            <MatButton @onclick="@(e => BuyPrint(Post.PostId))" class="btn btn-light">
                                <i class="fas fa-scroll"></i> &nbsp; Buy Print
                            </MatButton>
                        }

                        @if (Post.Likes > 0)
                        {
                            <p>@Post.Likes likes</p>
                        }



                    </div>

                    <div>

                    </div>
                </div>

                @*<div class="card-likes"></div>
                @if (Post.Comments.Count != 0)
                {
                    <div class="card-footer-left">
                        <a href="/post/@Post.PostId"> View @Post.Comments.Count() comments here... </a>
                    </div>
                }
            </div>*@
            </div>
        }
    }
}
else
{
    <p>No user found.</p>
}