@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using _4thYearProject.Server.Services.Interfaces
@using System.Diagnostics
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IUserDataService UserDataService
@inject IUserService _userService
@inject ISearchDataService _SearchDataService
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject NavigationManager UriHelper


<div class="navigation">
    <div class="logo">
        <a class="no-underline" href="feed">
            <h1>fotostor.</h1>
        </a>
    </div>
    <div class="navigation-search-container">

        <BlazoredTypeahead SearchMethod="@_SearchDataService.GetSearchResults"
                           TValue="SearchResult"
                           TItem="SearchResult"
                           Value="@resultActual"
                           ValueExpression="@(() => resultActual)"
                           ValueChanged="ResultChange"
                               >
                <SelectedTemplate>
                    <p>@context.Content</p>
                </SelectedTemplate>
                <ResultTemplate>
                    <p>@context.Type | @context.Content</p>
                </ResultTemplate>
                <NotFoundTemplate>
                    Sorry, there weren't any search results.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        
    </div>
    <AuthorizeView>
        <NotAuthorized>
            <div class="navigation-icons">

                <a href="https://localhost:44333/Identity/Account/Register" id="register" class="navigation-link">
                    <i class="fas fa-user-plus"></i>
                </a>
                <a href="authentication/login" id="signin" class="navigation-link">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </div>
        </NotAuthorized>
        <Authorized>
            <div class="navigation-icons">
                <a href="posts/upload" id="upload" class="navigation-link">
                    <i class="far fa-plus-square"></i>
                </a>
                @if (User != null)
                {
                    <a href="/profile/@User.DisplayName" class="navigation-link">
                        <i class="far fa-user-circle"></i>
                    </a>
                }
                <a href="/basket/" class="navigation-link">
                    <i class="fas fa-shopping-basket"></i>
                </a>
                <a href="profile/analysis" class="navigation-link">
                    <i class="fas fa-chart-bar"></i>
                </a>
                <a href="/orders/" class="navigation-link">
                    <i class="fas fa-file-invoice"></i>
                </a>
                <a id="signout" class="navigation-link" @onclick="BeginSignOut">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code{

    ClaimsPrincipal identity;
    UserData User;
    private SearchResult resultActual;
    private List<SearchResult> results = new List<SearchResult>();
    string LoggedInID = String.Empty;
    string ProfileName = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        identity = await _userService.GetUserAsync();




        if (identity.Identity.IsAuthenticated)
        {
            LoggedInID = identity.Claims.Where(c => c.Type.Equals("sub"))
                 .Select(c => c.Value).SingleOrDefault().ToString();
            User = await UserDataService.GetUserDataDetails(LoggedInID);
            ProfileName = User.DisplayName;

            
        }

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (identity.Identity.IsAuthenticated)
            {
                LoggedInID = identity.Claims.Where(c => c.Type.Equals("sub"))
                     .Select(c => c.Value).SingleOrDefault().ToString();
                User = await UserDataService.GetUserDataDetails(LoggedInID);
                ProfileName = User.DisplayName;


                
            }
        }


    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    void Navigate()
    {
        UriHelper.NavigateTo("/profile/" + User.DisplayName,true);
    }

    private async Task ResultChange(SearchResult result)
    {

        switch (result.Type)
        {
            case "Profile":
                Navigation.NavigateTo("profile/" + result.Content, true);
                break;

            case "Hashtag":
                string hashTag = resultActual.Content.Substring(1, result.Content.Length);
                Navigation.NavigateTo("tags/" + hashTag);
                break;
        }
    }



}
